body{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1{
  color: #647bbb;
  font-family: "Lucida Grande", "Lucida Sans", sans-serif;
  font-size: 48px;
}

p{
  font-family: "Lucida Grande", "Lucida Sans", sans-serif;
  font-size: 24px;
}

// Classes
@import "components/classes";

// ID's

@import "components/ids";
