#sloganText{
  color: #000000;
  text-align: center;
}

#ctaText{
  color: #ffffff;
  text-align: center;
}

#iceberg{
  background-image: url('imgs/icebergIcon.png');
}

#radar{
  background-image: url('imgs/radarIcon.png');
}

#gray{
  background-image: url('imgs/grayIcon.png');
}

#map{
  background-image: url('imgs/mapIcon.png');
}
